.login-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.divider {
  margin: 20px 0;
}

.login-button {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}
