.section1 {
  background-color: #f7f7f7;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  font-family: sans-serif;
}

.section1-image img {
  width: 100%;
}

.section1 p {
  font-size: large;
  margin-right: 50px;
  text-align: left;
  max-width: 60%;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
}
.section2,
.section3,
.section4,
.section5,
.section6 {
  background-color: #ffffff;
  padding: 50px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 18px;
  margin-bottom: 10px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeIn {
  opacity: 0;
}

.fadeIn.animated {
  opacity: 1;
  animation-name: fadeIn;
}
.circle {
  display: inline-block;
  width: 180px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  line-height: 150px;
  margin: 10px;
  list-style-type: none;
}
.circle-2 {
  display: inline-block;
  width: 180px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  line-height: 150px;
  margin: 10px;
  list-style-type: none;
}

.square {
  display: inline-block;
  width: 300px;
  height: 150px;
  border: 2px solid black;
  text-align: center;
  line-height: 150px;
  margin: 10px;
  list-style-type: none;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.company-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.company-card img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.company-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 10px;
}
@media screen and (max-width: 600px) {
  .company-grid {
    width: 100%; /* Make the cards occupy full width */
  }
}
.section6 {
  background-color: #f4f4f4;
  padding: 60px;
  margin-bottom: 60px;
}

.section6 h3 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.section6 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section6 li {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: left;
}

.section6 .answer {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 30px;
  border-left: 2px solid #777;
  text-align: left;
}
.answer {
  margin-left: 25px;
  font-size: 14px;
}

.section1,
.section2,
.section3,
.section4,
.section5,
.section6 {
  opacity: 0; /* hide the sections by default */
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: forwards; /* keep the last frame of the animation */
}

/* Fade in the sections when they come into view */
.section1.animated.fadeIn {
  animation-name: fadeIn;
}

.section2.animated.fadeIn {
  animation-name: fadeIn;
  animation-delay: 0.2s; /* delay the animation by 0.2 seconds */
}

.section3.animated.fadeIn {
  animation-name: fadeIn;
  animation-delay: 0.4s; /* delay the animation by 0.4 seconds */
}

.section4.animated.fadeIn {
  animation-name: fadeIn;
  animation-delay: 0.6s; /* delay the animation by 0.6 seconds */
}

.section5.animated.fadeIn {
  animation-name: fadeIn;
  animation-delay: 0.8s; /* delay the animation by 0.8 seconds */
}

.section6.animated.fadeIn {
  animation-name: fadeIn;
  animation-delay: 1s; /* delay the animation by 1 second */
}

/* Define the fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* move the element down 20 pixels */
  }
  to {
    opacity: 1;
    transform: translateY(
      0
    ); /* move the element back up to its original position */
  }
}
