.company-profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  animation: slide-up 0.5s ease-in-out;
  margin-bottom: 60px;
  margin-top: 60px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  font-weight: bold;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1e90ff;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #187bcd;
  transform: scale(1.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .company-profile-container {
    margin-top: 60px;
  }

  form {
    max-width: 600px;
    width: 80%;
  }
}
