form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #3e8e41;
}

/* Styles for the forgot box */

.forgot-box {
  width: 600px;
  margin: 50px auto;
  padding: 40px;
  background-color: #ffff;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.forgot-box .para {
  background-color: none;
  margin-top: 15px;
}

.forgot-box .para a {
  color: blue;
  text-decoration: none;
}

.forgot-box h1 {
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  background-color: #ffff;
}

.forgot-box {
  background-color: #ffff;
}

.forgot-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 18px;
  background-color: #ffff;
}

.forgot-box label {
  margin: 10px 0;
  font-weight: bold;
  background-color: #ffff;
}

.forgot-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #ffff;
  font-size: 18px;
}

.forgot-box button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.forgot-box button:hover {
  background-color: #3e8e41;
}

.forgot-box .image-container {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
}
